.sfondo-logo{
    height: 150px;
    background-color: aqua;
    background-image: url("../img/pattern.png");
}
.logo{
    width: 200px;
    position: relative;
    top: 80px;

}
.info{
    color: grey;
    
}
#autore{
    color: rgb(23, 129, 194);
}
.primo-blocco-img{
    margin-top: 25px;
}
.info-img{
    font-size: 10px;
}
.frase-importante{
    background-color: yellow;
}
.intestazioni-tab{
    background-color: blue;
    color: white;
    
   
    
}

.tabella{
    width:100%;
    
    text-align: justify;
    
    
    
}
.riga-colorata{
    background-color: aqua;
    
}
.riga{
    width: 400px;
}
